@model IEnumerable<Quejas_Proyecto.context.queja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.queja1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_queja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sucursal.nombre_sucursal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.queja1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_queja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sucursal.nombre_sucursal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idqueja }) |
            @Html.ActionLink("Details", "Details", new { id=item.idqueja }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idqueja })
        </td>
    </tr>
}

</table>
