@model IEnumerable<Quejas_Proyecto.context.comercio>

@{
    ViewBag.Title = "Comercios";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_comercio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_comercio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idcomercio }) |
            @Html.ActionLink("Details", "Details", new { id=item.idcomercio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idcomercio })
        </td>
    </tr>
}

</table>
